* {
font-family: 'Lato', sans-serif;
}
label{
        min-width: 100px;
        text-align: right;
        font-weight: 500;
        padding-right: 20px;
        display: inline-block;
}

.footer{
    position: fixed;
    bottom:0;
    left: calc(50% - 200px);
    font-size: 10px;
    font-family: 'avenir', helvetica, sans-serif;
    color: #767b8d;
}

.footer a{
    text-decoration: none;
    color: #23197B;
}

        #MyInput{
    height:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(30% - 20px);
    width: -moz-calc(30% - 20px);
    width: -webkit-calc(30% - 20px);
    width: -o-calc(30% - 20px);
    position: fixed;
    outline: 1px solid #D3D7DC;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: #EDF0F1; /*#EAEDF1;*/
}

#MyOutput {
    border-radius: 0px;
    height: auto;
    position: absolute;
    right: 0;
    padding: 10px 20px;
    margin-left: 0px;
    width: calc(50%);
    width: -moz-calc(70%);
    width: -webkit-calc(70%);
    width: -o-calc(70%);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
