{% extends "layout.html" %}
{% block content %}
	<div id="MyInput">
            <div class="header">
		<h1>Create simulation</h2>
		<h3>Define Test Parameters</h3>
		<p><label>Volume:</label> <input type="text" /> </p>
		<p><label>Frequency:</label> <input type="text"/></p>
            </div>
		<center>
		<button onclick="start()" class="start">Start Test</button>
		</center>
            <div class="footer">
                <p>Code on <a href="#">Github</a>. Designed by <a href="http://katychuang.com">Dr. Kat</a></p>
            </div>
        </div>
        <div id="MyOutput">
		<div id="example2b"></div>
	</div>
        <div style="clear:both"></div>
<script src="{{ url_for('static', filename='js/d3.v2.js') }}"></script>
<script src="{{ url_for('static', filename='js/cubism.v1.js') }}"></script>
<script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
<script>
function start(){
var myObj = document.getElementById("MyOutput");
var newNode = document.createElement("p");
 newNode.appendChild(document.createTextNode("results here"));
 myObj.appendChild(newNode);

}
</script>
{% include "scripts.html" %}
{% endblock %}
