{% extends "layout.html" %}
<!-- 
Notes
http://terrenceryan.com/blog/index.php/venn-diagram-entirely-in-css/ 
-->
{% block content %}
<style>
body {color: #2D2D2D; margin: 40px 50px;}
#venn div{
    height: 180px;
    width: 180px;
    border-radius: 90px;
    -khtml-border-radius: 90px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    border: 1px solid #000;
    display: table;
    float: left;
    text-align: center;
}
#venn div:nth-child(1){
    background-color: rgba(6,95,58,0.6); 
    color: #FFF;
    padding-right: 0px;
}

#venn div:nth-child(2){
    background-color: rgba(249, 132, 32, 0.6);
    color: #FFF;
    margin-left: -30px;
    padding-left: 0px;
}
#venn #overlap{
    border: 0;
    height: 30px;
    width: 130px;
    left: 167px;
    top: -60px;
    color: #444;
    position: relative;
    text-align: left;
    z-index: 10;
    /*background: rgba(255, 255, 255, 0.5);*/
    padding: 80px 15px 5px 10px; border-radius: 0;
    border-left: 1px solid black;
}
#venn div p { height: 100%; vertical-align: middle; display: table-cell}
a {color: black}
</style>
<table style="width:800px; margin-left:auto; margin-right:auto">
<tr>
<td colspan="2">
<h1>YeezyScore</h1>
<h2 style="color: #2D2D2D;">A comparison of stream processing software</h2>
</td>
</tr>
<tr>
<td align="left" valign="top">
<p><br/>
This project compares Storm Trident with Spark Streaming. While the two come from differing ends of the processing software universe, these two features in particular are considered 'microbatching' stream processing technologies.</p>
<p>Data on collectible sneaker resales comes from eBay's API.</p>
<p><a href="http://www.slideshare.net/katychuang/insight-de-project-53559705">Slides</a> | 
<a href="http://github.com/katychuang/insight-demo">Code</a> | 
<span style="color:#888">Made wth &hearts;&nbsp;</span> &nbsp; &nbsp; &nbsp;
<br/><br/>
<a href="http://de.katychuang.me/chart/latency/spark_1m" style="color: #fFF">charts</a> </p>
<br/>
<p>
&copy; Project by <a href="http://twitter.com/katychuang">Kat Chuang</a> for the Insight Data Engineering Fellowship Program.
</p>
</td>

<td valign="top" width="360">
<div id="venn">
    <div><p>Batch<br/><a href="http://spark.apache.org">Spark</a></p></div>
    <div><p>Streaming<br/><a href="http://storm.apache.org/">Apache Storm</a></p></div>
    <div id="overlap"><p><b>Microbatching</b><br/>
      <a href="https://spark.apache.org/streaming/">Spark Streaming</a><br/>
      <a href="http://storm.apache.org/documentation/Trident-state.html">Storm Trident</a></p></div>
</div>
</td>

</tr>
<tr>
<td colspan="2">
<p style="padding-bottom:0px;">What's cool about streaming technologies?
<a href="/jordan-v-yeezy">Trendwatching</a>, as seen by the Air Jordans and Yeezys resold online</p>
<img src="static/preview.gif" style="width:100%;height:auto;margn-top:0px"/>
</td>
</tr>
</table>
<footer style="position: fixed; bottom: 10px;">
</footer>
{% endblock %}
